@model IEnumerable<VeloceCars.Models.Vehicle>

@{
    Layout = "~/Views/Report/_ReportLayout.cshtml";
}

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlateNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceNo)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlateNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceNo)
            </td>
        </tr>
        }
    </tbody>
</table>
