@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VeloceCars</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><span class="glyphicon glyphicon-home" style="color:#3F437A" aria-hidden="true"></span> Veloce Cars </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                    @if (await AuthorizationService.AuthorizeAsync(User, "BranchPolicy") || await AuthorizationService.AuthorizeAsync(User, "HQPolicy"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Masters<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                @* Does not make sense to block HQ for the access below  *@
                                @*@if (await AuthorizationService.AuthorizeAsync(User, "BranchPolicy"))
                                    {*@
                                <li><a asp-area="" asp-controller="Driver" asp-action="Index">Driver</a></li>
                                <li><a asp-area="" asp-controller="Vehicle" asp-action="Index">Vehicle</a></li>
                                @*}*@

                                @if (await AuthorizationService.AuthorizeAsync(User, "HQPolicy"))
                                {
                                    <li><a asp-area="" asp-controller="Package" asp-action="Index">Package</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a asp-area="" asp-controller="User" asp-action="Index">Users</a></li>
                                }
                            </ul>
                        </li>
                    }

                    @if (await AuthorizationService.AuthorizeAsync(User, "ClientPolicy"))
                    {
                        <li><a asp-controller="Reservation" asp-action="Index">Reservations</a></li>
                    }
                    
                    <li><a asp-controller="Package" asp-action="Offers">Packages</a></li>

                    @if (await AuthorizationService.AuthorizeAsync(User, "DriverPolicy"))
                    {
                        <li><a asp-controller="Schedule" asp-action="Index">Schedules</a></li>
                    }

                    @if (await AuthorizationService.AuthorizeAsync(User, "HQPolicy"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Report" asp-action="UserList">All Users List</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="DriverList">Drivers List</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="VehicleList">Vehicles List</a></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="PackageList">Packages List</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a asp-area="" asp-controller="Report" asp-action="ActiveSchedule">Active Schedules</a></li>
                            </ul>
                        </li>
                    }
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>

                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content ">

        @RenderBody()

        <hr />
        <footer>
            <p><a asp-controller="Home" asp-action="ThisProject">This Project</a> · <a asp-controller="Home" asp-action="StudentInfo">Student Info</a> · <a href="http://stackoverflow.com/users/3082414/kirk">Developed by Kirk</a>  ·  &copy; @DateTime.Today.Year - Veloce Cars. </p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
